.shipping-screen-body {
    font-family: 'Montserrat', sans-serif;
  }
   
   .shipping-container {
    position: relative;
    min-height: 100%;
    /* padding-bottom: 100px;  */
  }
  
  .checkout-navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}
  
  .checkout-title {
    flex-grow: 1;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-left: -5%;
}

.left-arrow {
  width: 12px;
  margin-left: 5%;
  cursor: pointer;
  z-index: 3;
  position: relative;
}
  .final-payment-details {
    padding: 0% 5%;
    display: flex;
    justify-content: space-between;
    color: #A8A8A9;
    margin: 5% 0;
  }
  
  .final-total-details {
    margin-top: -5%;
    padding: 5% 5%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #000;
  }
  
  .divider {
    opacity: 0.5;
    margin-top: 1%;
  }

  .divider-2{
    opacity: 1;
    margin-top: 0;
    width: 82%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .final-address-details {
    font-weight: bold;
    font-size: 18px;
    margin-left: 5%;
    margin-top: 15px;
  }
  .final-address-info {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 5px;
    margin-top: 8px;
  }
  
  .final-address-input,
  .final-city-input,
  .final-country-input {
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    padding: 10px 17px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 1%;
  }
  
  .continue-payment {
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin: 30px auto;
    background-color: #F83758;
    font-size: 20px;
    font-weight: 650;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px;
    width: 90%;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .shipping-screen-body ::placeholder {
    color: #000;
  }
  .final-address-titles{
    margin-top: 2%;
    align-self: flex-start;
    margin-left: 5%;

  }
  .loading{
    background-color : #750417;
  }
  .error {
    color: red;
    font-weight: bold;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    border-color: red ;
    background-color: #f3d3d3;
    padding : 10px ;
    text-wrap: nowrap;
    
  }