.signup-welcome-title {
    font-size: 30px;
    color: #333;
    margin-top:10%;
    margin-bottom:5%;
    margin-left: 5%;
    font-weight: bold;
    text-wrap: nowrap;

  }
  
  .signup-data-input {
    margin-bottom: 5px;
    margin-top: -5%;
  
  }
  
  .signup-user-input,
  .signup-password-input {
    display: block;
    margin: 0 auto;
    font-size: 18px;
    background-color: #F3F3F3;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom:20px;
    height: 55px;
  }
  
  .signup-login-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f83758;
  font-size: 20px;
  font-weight: 650;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 90%;
  max-width: 375px; 
  padding: 15px;
  cursor: pointer;

  }
  
  .signin-link {
    color: #F83758;
    text-decoration: underline;
    font-weight: bolder;
  }
  
 .signin-link:hover {
    text-decoration: underline;
  }
  
  .signup-user-input {
    background-image: url("../../assets/User.png");
    background-position: 10px 14px; 
    background-repeat: no-repeat;
    padding: 20px 8px 20px 40px;
  }
  
  .signup-password-input-container {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .signup-password-input {
    width: 100%;
    padding: 20px 8px 20px 40px;
    background-color: #F3F3F3;
    background-image: url("../../assets/pass.png");
    background-position: 16px 15px; 
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .signup-eye-icon {
    position: absolute;
    right: 10%;
    top: 37%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .signup-info{
    margin-left: 5%;
    margin-top: -10%;
    text-wrap: nowrap;


  }
  .signup-create-acc {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  