.getstarted-btn{
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F83758;
    font-size: 18px;
    font-weight: 650;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 11px 85px;
    cursor: pointer;
    white-space: nowrap;
    font-family:'Montserrat',sans-serif;

}
.getstarted-title{
    font-weight: 650;
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 30px;
    color: #fff;
    white-space: nowrap;
}
.getstarted-subtitle{
    position: absolute;
    bottom: 120px;
    left: 50%;
    color: #fff;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap;
}
.getstarted-body {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100%;
    }
.getstarted-body div {
    width: 100%;
}