.welcomtitle {
  font-size: 36px;
  color: #000000;
  margin-top: 10px;
  font-weight: 650;
}

.datainput {
  display: block;
  width: 100%;
  margin-top: 20px;
}

.userinput,
.passwordinput {
  display: block;
  font-size: 18px;
  width: 100%;
  max-width: 380px; 
  background-color: #f3f3f3;
  padding: 20px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 28px;
  height: 55px;
}

.Loginbtn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f83758;
  font-size: 20px;
  font-weight: 650;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 90%;
  max-width: 375px; 
  padding: 15px;
  cursor: pointer;
  margin-bottom: 20px;
}

.signuplink {
  color: #f83758;
  text-decoration: underline;
  font-weight: bold;
}

.userinput {
  background-image: url("../../assets/User.png");
  background-position: 15px 14px; 
  background-repeat: no-repeat;
  padding: 20px 8px 20px 45px;
  font-size: 16px;
  color: #676767;
}

.passwordinputcontainer {
  position: relative;
  display: flex;
  justify-content: center;
}

.passwordinput {
  padding: 20px 8px 20px 45px;
  background-color: #f3f3f3;
  background-image: url("../../assets/pass.png");
  background-position: 18px 15px; 
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  max-width: 380px; 
  font-size: 16px;
  color: #676767;
}

.eyeicon {
  position: absolute;
  right: 10%;
  top: 35%;
  transform: translateY(-50%);
  cursor: pointer;
}
.eyeoff{
  position: absolute;
  right: 9%;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  width:28px;
  height: auto;
}

.forgetpass {
  margin-left: 200px;
  color: #f83758;
  margin-top: -10px;
  white-space: nowrap;
}

.forgetpass:hover {
  cursor: pointer;
}

.createacc {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  margin-bottom: 20px;
}
.loading{
  background-color : #750417;
}
.error {
  color: red;
  font-weight: bold;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  border-color: red ;
  background-color: #f3d3d3;
  padding : 10px ;
  text-wrap: nowrap;
  
}


.userinput:focus,
.passwordinput:focus {
    outline: none;
    border: 1px solid #f83758;
    text-decoration: none; 
  }