.welcomtitle {
  font-size: 45px;
  color: #333;
  margin-left: 5%;
  margin-top: 50px;
  font-weight: 650;
}

.datainput {
  margin-top: 10%;
  display: block;
  width: 100%;
}

.userinput,
.passwordinput {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  width: 100%;
  max-width: 380px; 
  background-color: #f3f3f3;
  padding: 20px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
}

.Loginbtn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f83758;
  font-size: 20px;
  font-weight: 650;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 380px; 
  padding: 15px;
  cursor: pointer;
}

.signuplink {
  color: #f83758;
  text-decoration: underline;
  font-weight: bold;
}

.userinput {
  background-image: url("../../assets/User.png");
  background-position: 15px 20px; 
  background-repeat: no-repeat;
  padding: 20px 8px 20px 40px;
}

.passwordinputcontainer {
  position: relative;
  display: flex;
  justify-content: center;
}

.passwordinput {
  padding: 20px 8px 20px 40px;
  background-color: #f3f3f3;
  background-image: url("../../assets/pass.png");
  background-position: 18px 22px; 
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  max-width: 380px; 
}

.eyeicon {
  position: absolute;
  right: 10%;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
}

.forgetpass {
  margin-left: 200px;
  color: #f83758;
  margin-top: -15px;
  white-space: nowrap;
}

.createacc {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
