@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.splash-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  padding: 50px;
  margin: auto;
  box-sizing: border-box;
}

.splash-content {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #555;
}

.splash-content img {
  display: block;
  margin: 0 auto; 
  max-width: 100%;
}

.splash-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 800;
  width: 100%; 
  max-width: 480px;
}

.splash-content p {
  font-size: 16px;
  color: #555;
  width: 100%; 
  max-width: 480px;
}

.splash-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: white;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 5px;
  transition: width 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease, height 0.3s ease;
}

.dot.active {
  background-color: #333;
  width: 50px;
  border-radius: 5px;
  height: 10px;
}

.splash-navigate {
  font-size: 18px;
  font-weight: 600;
  color: #f83758;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  background-color: transparent;
}

.start-btn {
  font-size: 18px;
  color: #f83758;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  background-color: transparent;
}

.splash-navigation button.splash-navigation-disable {
  color: #bbb;
  cursor: not-allowed;
  background-color: transparent;
}
