.cart-navbar {
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;
}

.cart-title {
  flex-grow: 1;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-left: -5%;
}

.blackcart-icon {
  margin-right: 1%;
  margin-left: -5%;
}

.cart-items {
  display: flex;
  align-items: center;
  margin: 3% 10%;
}

.cart-text {
  font-weight: bold;
  margin-top: 1%;
}

.order-container {
  width: 90%; 
  height: auto;
  border: solid #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 10px auto;
}

.order-img {
  width: 100px;
  height: 100px;
  margin-left: -1%;
}

.order-info {
  display: flex;
  flex-direction: column;
  padding: 0px 1%;
  font-size: 14px;
}

.order-title {
  font-weight: bold;
}

.order-desc {
  
}

.size-qty-container {
  display: flex;
  gap: 10%;
  padding: 5px;
}

.payment-details {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  padding: 1% 5%;
}

.final-address-details {
  font-weight: bold;
  font-size: 18px;
  margin-left: 5%;
  margin-top: 5%;

}

.final-address-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.final-address-input,
.final-city-input,
.final-country-input {
  font-family: 'Montserrat', sans-serif;
  width: 90%;
  padding: 15px 17px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 1%;
}

.continue-checkout {
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin: 30px auto;
  background-color: #f83758;
  font-size: 20px;
  font-weight: 650;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px;
  width: 90%; 
  cursor: pointer;
}

.final-address-titles {
  margin-top: 2%;
  align-self: flex-start;
  margin-left: 5%;
}

.qty-btn {
  padding: 0 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #f83758;
  border-radius: 4px;
}

.size-qty-container p {
  background-color: #f2f2f2;
  padding: 4px;
  border-radius: 4px;
}

.checkout-screen-body ::placeholder {
  color: #000;
}
.divider{
  opacity: 30%;
  width: 100%;
  margin-top: -5px;
}